---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/ofhfvx0602" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn">
                <a class="icon__link" href="https://twitter.com/P1_xE1">
                    <img src="/x-white.png" data-dark-src="/x-black.png" alt="X" class="theme-aware-img" />
                </a>
            </li>

            <!-- <li class="icon__btn"><a class="icon__link" href="https://twitter.com/P1_xE1"><img src="/x-black.png" alt="X" /></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://twitter.com/P1_xE1"><img src="/x-black.png" alt="X" /></a></li> -->
        </ul>
        <small>&copy; {year} Rikiya by <a class="footer__link" href="https://github.com/ofhfvx0602">Ofhfvx0602</a>. All Rights Reserved.</small>
    </div>
</footer>
