---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Portfolio Site</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="https://simple-blog-site.pages.dev/" target="_blank">Blog</a>
        <a href="https://github.com/ofhfvx0602" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

